.heading {
    font-size: 4vw;
    letter-spacing: 5px;
}

.btnDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

#getButton {
    padding: 5px 50px;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}